<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2023 The Brave Authors. All rights reserved.
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this file,
  ~ You can obtain one at https://mozilla.org/MPL/2.0/.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />
        <activity
            android:name=".activity.PlaylistMenuOnboardingActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <service
            android:name=".PlaylistVideoService"
            android:exported="false"/>
        <service
            android:name=".PlaylistDownloadService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            android:stopWithTask="false"/>
    </application>
</manifest>
